* {
    /* align-items: center; */
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400 black;
    /* font-size: medium; */
}

h1 {
    font-size: 45px;
    margin-top: 40px;
    border-top: 2px solid #c4c4c4;
    border-bottom: 2px solid #c4c4c4;
}

h2 {
    font-size: 42px;
    border-top: 2px solid #c4c4c4;
    border-bottom: 2px solid #c4c4c4;
    /* margin-top: 2px; */
}

h3 {
    font-size: 36px;
    margin-bottom: 5px;
}

body {
    font-size: 21px;
    margin: 0;
}

.small {
    font-size: 16px;
    margin-top: 1px;
}

.container {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

img {
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

.name {
    font-size: 80px;
    color: #99d930;
    font-weight: 900;
}

.public {
    font-size: 60px;
    color: #99d930;
    font-weight: 900;

}

a {
    font-size: 30px;
    font-weight: 500;
    color: #00d930;
}

a:hover {
    color: #131313;
}

.box1 {
    background-color: #252525;
    color: #fff;
    padding: 50px;
    /* padding-bottom: 60px; */
}

.box2 {
    background-color: #ffeaea;
    padding: 50px;
    /* padding-bottom: 60px; */
}

.box3 {
    background-color: #252525;
    color: #fff;
    padding: 50px;
    /* padding-bottom: 60px; */
}

button
{
    text-decoration: none;
    color: #252525;
    background-color: #99d930;
    font-size: 25px;
}

button:hover
{
    color: #fff;
    background-color: #252525;
}